.boardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.board {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.gridSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.measurementStartDot {
  fill: red;
}

.measurementEndDot {
  fill: blue;
}

.measurementLine {
  stroke: yellow;
}

.measurementText {
  fill: white;
  font-weight: bold;
  font-size: 14px;
  paint-order: stroke;
  stroke: black;
  stroke-width: 2px;
}

.diceOverlay {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
}