.tabContent {
  padding: 2rem 0;
}

.actions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

.button {
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #4f46e5;
  color: #fff;
}

.button:hover {
  background-color: #3730a3;
  transform: translateY(-2px);
}

.buttonPrimary {
  background-color: #4f46e5;
  color: white;
}